
.header {
  display: flex;
  flex-direction: row start;
  justify-content: center;
  align-content: center;
}

/* nav link & text */
a:link {
  text-decoration: none;
  text-transform: uppercase;
  color:brown;
  margin:40px;
  font-size:20px;

}

a:hover {
  color: #CD5D67;
}

a:active {
  text-decoration: #968772;
}

/*     */

.logo {
  width:40px;
  height: 40px;

}

/* headline */

h1 {
  font-family: Merriweather, serif;
  font-size:50px;
  text-align: center;
  padding: 10px;
  color:#131511
  text-direction: center;
}

h2 {
  font-family: Merriweather, serif;
  font-size:30px;
  text-align: center;
  padding: 10px;
  color:#131511

}

.body {
  background-color: #F2F1E8;
}


/* picture */
.pic {
  width: 20%;
  height:20%;
  align-items: center;
  margin:10px;
  flex-grow: 1;
}

.container1:nth-child(2) {
    width: 300px;
    height: 350px;
}

#pic2{
  width: 300px;
  height: 360px;
}

#pic3{
  width: 300px;
  height: 360px;
}

/* */

.container1 {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowwrap;
  justify-content: center;
  margin:20px;

}

.container2 {
  display: flex;
  flex-wrap: nowwrap;
  justify-content: center;
  padding: 10px;

}

/* footer */

.footer {
  color: white;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  background-color: #064A25;
  margin: 10px;
  padding: 20px;
  display:flex;
  flex-direction: left;
}
